@rendermode InteractiveServer
@using AntDesign.TableModels
@using System.ComponentModel.DataAnnotations
@using Microsoft.EntityFrameworkCore
@using RpcControllerClient.Models
@using System.Text
@inject RpcClientContext RpcClientContext;
@inject ModalService ModalService;
@inject ConfirmService ComfirmService;

<Space Direction="SpaceDirection.Horizontal">
    <SpaceItem>
        <Search Placeholder="Введите Ф.И.О ученика" EnterButton="true" />
    </SpaceItem>
    <Button Type="ButtonType.Primary" OnClick="PupilCreateModal">
        Добавить ученика
    </Button>
    <Modal Title="Добавление ученика" @bind-Visible="@_visibleModal" OnOk="HandleOk">
        @FormTemplate();
    </Modal>
</Space>
<Table @ref="_pupilsTable" TItem="Pupils" PageSize="5" Total="_pupilsTotal" DataSource="_pupilsDataSource" OnChange="OnPupilsChange">
    <PropertyColumn Property="c => c.SurnamePupil"></PropertyColumn>
    <PropertyColumn Property="c => c.NamePupil"></PropertyColumn>
    <PropertyColumn Property="c => c.PatronymicPupil"></PropertyColumn>
    <PropertyColumn Property="c => c.ClassNumber"></PropertyColumn>
    <PropertyColumn Property="c => c.CardNumber"></PropertyColumn>
    <PropertyColumn Property="c => c.CardValidityPeriod">
        @{
            <p>@context.CardValidityPeriod.ToString("dd.MM.yyyy")</p>
        }
    </PropertyColumn>
    <ActionColumn Title="Изменить/Удалить">
        <a class="btn btn-primary" @onclick="() => EditPupil(context)">Изменить</a>
        <a class="btn btn-danger" @onclick="() => DeletePupil(context)">Удалить</a>
    </ActionColumn>
</Table>
@code {
    //Ссылка на компонент Home
    Home _home;

    ITable _pupilsTable;
    List<Pupils> _pupilsDataSource = new();
    int _pupilsTotal;
    private QueryModel<Pupils> _currentPupilsQuery;

    async Task OnPupilsChange(QueryModel<Pupils> query)
    {
        _currentPupilsQuery = query;
        await LoadPupilsData(query);
    }

    public async Task LoadPupilsData(QueryModel<Pupils> query = null)
    {
        var queryable = RpcClientContext.Pupils.Include(p => p.Visitings).AsQueryable();

        _pupilsTotal = await queryable.CountAsync();

        if (query != null)
        {
            _pupilsDataSource = await queryable
                .ExecuteTableQuery(query)
                .CurrentPagedRecords(query)
                .ToListAsync();
        }
        else
        {
            _pupilsDataSource = await queryable
                .Take(5)
                .ToListAsync();
        }
    }

    bool _visibleModal = false;
    Input<string> _inputCardNumber;
    Pupils pupil = new Pupils();

    private List<string> ClassNumber = new List<string>() { "1А", "1Б", "1В", "1Г",
                                                            "2А", "2Б", "2В", "2Г",
                                                            "3А", "3Б", "3В", "3Г",
                                                            "4А", "4Б", "4В", "4Г",
                                                            "5А", "5Б", "5В", "5Г",
                                                            "6А", "6Б", "6В", "6Г",
                                                            "7А", "7Б", "7В", "7Г",
                                                            "8А", "8Б", "8В", "8Г",
                                                            "9А", "9Б", "9В", "9Г",
                                                            "10А", "10Б", "10В", "10Г",
                                                            "11А", "11Б", "11В", "11Г"};
    bool _submitting = false;
    private Form<Pupils> _form;
    /// <summary>
    /// on modal OK button is click, submit form manually
    /// </summary>
    /// <param name="e"></param>
    private void HandleOk(MouseEventArgs e)
    {
        _submitting = true;
    }
    /// <summary>
    /// when form is submited, close the modal
    /// </summary>
    /// <param name="args"></param>
    private void OnFinish(EditContext editContext)
    {
        _submitting = false;
        _visibleModal = false;
        _form.Reset();
    }
    private void PupilCreateModal()
    {
        pupil.CardNumber = "";
        ModalRef modalRef = default;
        modalRef = ModalService.CreateModal(new()
        {
            Content = FormTemplate(),
            OnOk = async e =>
            {
                modalRef?.SetConfirmLoading(true);
                if (!_form.Validate())
                {
                    modalRef?.SetConfirmLoading(false);
                    return;
                }

                Pupils newPupil = new Pupils()
                {
                    SurnamePupil = pupil.SurnamePupil,
                    NamePupil = pupil.NamePupil,
                    PatronymicPupil = pupil.PatronymicPupil,
                    ClassNumber = pupil.ClassNumber,
                    CardNumber = pupil.CardNumber,
                    CardValidityPeriod = pupil.CardValidityPeriod
                };
                RpcClientContext.Pupils.Add(newPupil);
                RpcClientContext.SaveChanges();

                _form.Submit();

                await modalRef.CloseAsync();
                _form.Reset();

                _pupilsTable.ReloadData();
                StateHasChanged();
                DateTime dateTime = DateTime.Now;
                _home.tablesManager.AddPersonWithPassword(_home.guid, newPupil.PupilsId, newPupil.NamePupil, newPupil.SurnamePupil, newPupil.PatronymicPupil, newPupil.PupilsId, 4, 128, newPupil.PupilsId,
                        3, dateTime.ToString(), newPupil.CardValidityPeriod.ToString(), HexToByteArray(newPupil.CardNumber));
            },
            OnCancel = async e =>
            {
                if (!_form.IsModified || await ModalService.ConfirmAsync(new() { Content = "При выходе форма очистится и вы потеряете заполненные данные." }))
                {
                    await modalRef.CloseAsync();
                    _form.Reset();
                }
            },
        });
    }

    private string HEX = "HEX";
    private string DEX = "DEX";
    private string _encoding = "HEX";
    RenderFragment FormTemplate()
    {
        return
        @<Form Model="@pupil" OnFinish="OnFinish" @ref="@_form">
            <FormItem Label="Фамилия">
                <Input Placeholder="Введите фамилию ученика" @bind-Value="@context.SurnamePupil" />
            </FormItem>
            <FormItem Label="Имя">
                <Input Placeholder="Введите имя ученика" @bind-Value="@context.NamePupil" />
            </FormItem>
            <FormItem Label="Отчество">
                <Input Placeholder="Введите отчество ученика" @bind-Value="@context.PatronymicPupil" />
            </FormItem>
            <FormItem Label="Номер класса">
                <AutoComplete Placeholder="Введите класс ученика" @bind-Value="@context.ClassNumber" AllowFilter Options="@ClassNumber" FilterExpression="@((option, value) => option.Label.Contains(value ?? "", StringComparison.InvariantCultureIgnoreCase))" />
            </FormItem>
            <FormItem>
                Выберите формат считывания карты:
                <br />
                <RadioGroup @bind-Value="@_encoding">
                    <Radio Value="HEX">HEX</Radio>
                    <Radio Value="DEX">DEX</Radio>
                </RadioGroup>
            </FormItem>
            <FormItem Label="Номер карты">
                <Input Placeholder="Считайте карту" ReadOnly @ref="@_inputCardNumber" @bind-Value="@context.CardNumber" />
                <Button OnClick="ReadingCard" Type="ButtonType.Primary">Считать карту</Button>
            </FormItem>
            <FormItem Label="Период работы карты">
                <DatePicker DefaultPickerValue="DateTime.Now" @bind-Value="@context.CardValidityPeriod" />
            </FormItem>
        </Form>
    ;
    }

    private ModalRef _cardReadingModalRef;
    private bool _isReadingCard = false;
    private string _scannedCardNumber = "";

    private void ReadingCard()
    {
        _isReadingCard = true;

        _cardReadingModalRef = ModalService.CreateModal(new ModalOptions
        {
            Title = "Считывание карты",
            Content = CardReadingTemplate(),
            Width = 400,
            Closable = true,
            MaskClosable = true,
            DestroyOnClose = true,
            Footer = null,
            OnCancel = async e =>
            {
                _isReadingCard = false;
                await _cardReadingModalRef.CloseAsync();
            }
        });
        _ = StartCardReadingMonitor();
    }

    private void CardNumberFormating(Pupils pupilModel)
    {
        string cardNumber = pupilModel.CardNumber;
        int i = cardNumber.Length;
        if (i < 12)
        {
            cardNumber = cardNumber.PadLeft(12, '0');
        }
        cardNumber = cardNumber + "01";
        string reversed = ReverseByPairs(cardNumber);
        byte[] byteArray = Convert.FromHexString(reversed);
        byte crcData = CRC8.Calculate(byteArray);
        pupilModel.CardNumber = $"{crcData:X2}" + cardNumber;
    }

    public int[] HexToByteArray(string hexStr)
    {
        byte[] byteArray = Convert.FromHexString(hexStr);
        int[] BytesInDexArray = new int[byteArray.Length];
        foreach (byte b in byteArray)
        {
            int i = 0;
            BytesInDexArray[i] = b;
            i++;
        }
        BytesInDexArray = BytesInDexArray.Reverse().ToArray();
        return BytesInDexArray;
    }

    private async Task StartCardReadingMonitor()
    {
        string previousValue = "";
        int unchangedCount = 0;

        while (_isReadingCard)
        {
            await Task.Delay(100);

            if (_scannedCardNumber != previousValue)
            {
                previousValue = _scannedCardNumber;
                unchangedCount = 0;
            }
            else if (!string.IsNullOrEmpty(_scannedCardNumber))
            {
                unchangedCount++;
                if (unchangedCount >= 3)
                {
                    await OnCreateOrChangePupil();
                    break;
                }
            }
        }
    }

    private async Task OnCreateOrChangePupil()
    {
        if (_encoding == DEX)
        {
            if (_isEditMode)
            {
                _editingPupil.CardNumber = _scannedCardNumber;
            }
            else
            {
                pupil.CardNumber = _scannedCardNumber;
            }
            await CloseReadingCardModal();
        }
        else
        {
            if (_isEditMode)
            {
                _editingPupil.CardNumber = _scannedCardNumber;
                CardNumberFormating(_editingPupil);
            }
            else
            {
                pupil.CardNumber = _scannedCardNumber;
                CardNumberFormating(pupil);
            }
            await CloseReadingCardModal();
        }
    }

    private async Task CloseReadingCardModal()
    {
        await Task.Delay(200);
        _isReadingCard = false;
        await _cardReadingModalRef.CloseAsync();
        await _inputCardNumber.Focus(FocusBehavior.FocusAtFirst);
    }

    RenderFragment CardReadingTemplate()
    {
        _scannedCardNumber = "";
        return
        @<div>
            <p>Поднесите карту к считывателю...</p>
            <div style="text-align: center; margin: 20px 0;">
                <Icon Type="credit-card" Style="font-size: 48px; color: #1890ff;" />
            </div>
            <Alert Message="Ожидание карты..." Type="AlertType.Info" />

            <div>
                <Input @bind-Value="@_scannedCardNumber" AutoFocus="true" />
            </div>
        </div>
        ;
    }

    private string ReverseByPairs(string input)
    {
        StringBuilder sb = new StringBuilder();
        for (int i = input.Length - 2; i >= 0; i -= 2)
        {
            sb.Append(input[i]);
            sb.Append(input[i + 1]);
        }
        return sb.ToString();
    }

    async Task DeletePupil(Pupils delPupil)
    {
        if (!await Comfirm($"Вы уверены что хотите удалить данную запись?"))
            return;

        var entity = RpcClientContext.Pupils.FirstOrDefault(p => p.PupilsId == delPupil.PupilsId);
        if (entity != null)
        {
            RpcClientContext.Pupils.Remove(entity);
            await RpcClientContext.SaveChangesAsync();
        }
        _pupilsDataSource = _pupilsDataSource
            .Where(p => p.PupilsId != delPupil.PupilsId)
            .ToList();
        _pupilsTotal = _pupilsDataSource.Count;
        StateHasChanged();
        _pupilsTable.ReloadData();
    }

    private async Task<bool> Comfirm(string message)
    {
        return await ComfirmService.Show(message, "Confirm", ConfirmButtons.YesNo, ConfirmIcon.Warning) == ConfirmResult.Yes;
    }

    private ModalRef _editModalRef;
    private Pupils _editingPupil = new Pupils();
    private bool _isEditMode = false;

    private void EditPupil(Pupils pupil)
    {
        _isEditMode = true;

        _editingPupil = new Pupils
        {
            PupilsId = pupil.PupilsId,
            SurnamePupil = pupil.SurnamePupil,
            NamePupil = pupil.NamePupil,
            PatronymicPupil = pupil.PatronymicPupil,
            ClassNumber = pupil.ClassNumber,
            CardNumber = pupil.CardNumber,
            CardValidityPeriod = pupil.CardValidityPeriod
        };

        _editModalRef = ModalService.CreateModal(new()
        {
            Title = "Редактирование ученика",
            Content = EditFormTemplate(),
            OnOk = async e =>
            {
                _editModalRef?.SetConfirmLoading(true);

                if (!_form.Validate())
                {
                    _editModalRef?.SetConfirmLoading(false);
                    return;
                }

                var existingPupil = await RpcClientContext.Pupils
                    .FirstOrDefaultAsync(p => p.PupilsId == _editingPupil.PupilsId);

                if (existingPupil != null)
                {
                    existingPupil.SurnamePupil = _editingPupil.SurnamePupil;
                    existingPupil.NamePupil = _editingPupil.NamePupil;
                    existingPupil.PatronymicPupil = _editingPupil.PatronymicPupil;
                    existingPupil.ClassNumber = _editingPupil.ClassNumber;
                    existingPupil.CardNumber = _editingPupil.CardNumber;
                    existingPupil.CardValidityPeriod = _editingPupil.CardValidityPeriod;

                    await RpcClientContext.SaveChangesAsync();

                    var index = _pupilsDataSource.FindIndex(p => p.PupilsId == _editingPupil.PupilsId);
                    if (index >= 0)
                    {
                        _pupilsDataSource[index] = existingPupil;
                    }
                }

                await _editModalRef.CloseAsync();
                _form.Reset();
                _pupilsTable.ReloadData();
                StateHasChanged();
            },
            OnCancel = async e =>
            {
                if (!_form.IsModified || await ModalService.ConfirmAsync(new()
                {
                    Content = "При выходе форма очистится и вы потеряете измененные данные."
                }))
                {
                    await _editModalRef.CloseAsync();
                    _form.Reset();
                    _isEditMode = false;
                }
            },
        });
    }
    RenderFragment EditFormTemplate()
    {
        return
        @<Form Model="@_editingPupil" OnFinish="OnEditFinish" @ref="@_form">
            <FormItem Label="Фамилия">
                <Input Placeholder="Введите фамилию ученика" @bind-Value="@context.SurnamePupil" />
            </FormItem>
            <FormItem Label="Имя">
                <Input Placeholder="Введите имя ученика" @bind-Value="@context.NamePupil" />
            </FormItem>
            <FormItem Label="Отчество">
                <Input Placeholder="Введите отчество ученика" @bind-Value="@context.PatronymicPupil" />
            </FormItem>
            <FormItem Label="Номер класса">
                <AutoComplete Placeholder="Введите класс ученика" @bind-Value="@context.ClassNumber" AllowFilter Options="@ClassNumber" FilterExpression="@((option, value) => option.Label.Contains(value ?? "", StringComparison.InvariantCultureIgnoreCase))" />
            </FormItem>
            <FormItem>
                Выберите формат считывания карты:
                <br />
                <RadioGroup @bind-Value="@_encoding">
                    <Radio Value="HEX">HEX</Radio>
                    <Radio Value="DEX">DEX</Radio>
                </RadioGroup>
            </FormItem>
            <FormItem Label="Номер карты">
                    <Input Placeholder="Номер карты" ReadOnly @ref="@_inputCardNumber" @bind-Value="@context.CardNumber" />
                    <Button OnClick="ReadingCard" Type="ButtonType.Primary">Считать карту</Button>
            </FormItem>
            <FormItem Label="Период работы карты">
                <DatePicker DefaultPickerValue="DateTime.Now" @bind-Value="@context.CardValidityPeriod" />
            </FormItem>
        </Form>
        ;
    }

    private void OnEditFinish(EditContext editContext)
    {
        _isEditMode = false;
        _form.Reset();
    }
}
